<button
    @click="
        if (!sidebarOpen) {
            sidebarOpen = true;
            {{ submenu }} = true;
        } else {
            {{ submenu }} = !{{ submenu }};
        }
    "
    :title="!sidebarOpen ? '{{ title }}' : ''"
    class="group flex items-center space-x-2 p-2 rounded hover:bg-[#00838F] w-full">

    <div class="w-12 h-12 flex items-center justify-center">
        <i class="fas {{ icon }} text-xl"></i>
    </div>

    <div
        x-show="sidebarOpen"
        x-transition.opacity.duration.300ms
        class="ml-2 flex-1 text-left">

        {{ title }}

    </div>

    <i
        x-show="sidebarOpen"
        x-transition.opacity.duration.300ms
        class="fas"
        :class="{{ submenu }} ? 'fa-chevron-down' : 'fa-chevron-right'">
    </i>

</button>