{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% include 'navbar.html' %}

{% block body %}
<div class="py-10 px-2 flex justify-center">
  <div class="w-full max-w-[98%]">
    <h2 class="text-2xl font-bold text-blue-800 mb-6">
      Modelagem de Processos
      <span class="text-base font-normal text-gray-600">
        ({{ page_obj.paginator.count }} registro{{ page_obj.paginator.count|pluralize:"s" }})
      </span>
    </h2>

    {% if request.user.perfil.nome|lower == 'administrador' %}
    <form method="GET" class="mb-0.5">
      <div class="w-full bg-[#f3f8ff] border border-blue-200 rounded-lg p-3 shadow-sm">
        <div class="flex items-end gap-4 flex-wrap w-full">

          <!-- ESQUERDA -->
          <div class="flex flex-wrap items-end gap-3">
            <!-- Tipo -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Tipo</label>
              <select name="tipo"
                class="w-40 px-2 py-1.5 border border-gray-300 rounded-md bg-white
                       focus:ring-2 focus:ring-blue-500
                       {% if tipo_selecionado %}text-black{% else %}text-black placeholder-gray-400{% endif %}">

                <option value="">Todos</option>

                {% for tipo in tipos_documento %}
                  <option value="{{ tipo.slug }}"
                    {% if tipo_selecionado == tipo.slug %}selected{% endif %}>
                    {{ tipo.label }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <!-- Título -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Título</label>
              <input type="text" name="titulo"
                     value="{{ titulo_busca }}"
                     placeholder="Digite título..."
                     class="w-48 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- Tema -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Tema</label>
              <input type="text" name="tema"
                     value="{{ tema_busca }}"
                     placeholder="Digite tema..."
                     class="w-48 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- Emitente -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Emitente</label>
              <input type="text" name="emitente"
                     value="{{ emitente_busca }}"
                     placeholder="Emitente..."
                     class="w-40 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- Sistema -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Sistema</label>
              <input type="text" name="sistema"
                     value="{{ sistema_busca }}"
                     placeholder="Sistema..."
                     class="w-40 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- Vigência De -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Vigência De</label>
              <input name="vigencia_de"
                     type="text"
                     placeholder="dd/mm/aaaa"
                     onfocus="this.type='date'"
                     onblur="if(!this.value)this.type='text'"
                     value="{{ vigencia_de }}"
                     class="w-32 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- Vigência Até -->
            <div class="flex flex-col">
              <label class="text-sm font-semibold text-blue-800 mb-0.5">Vigência Até</label>
              <input name="vigencia_ate"
                     type="text"
                     placeholder="dd/mm/aaaa"
                     onfocus="this.type='date'"
                     onblur="if(!this.value)this.type='text'"
                     value="{{ vigencia_ate }}"
                     class="w-32 px-2 py-1.5 border border-gray-300 rounded-md
                            focus:ring-2 focus:ring-blue-500 text-black placeholder-gray-400">
            </div>

            <!-- REGISTROS/PÁGINA -->
              <div class="flex flex-col">
                <label class="text-sm font-semibold text-blue-800 mb-0.5">Registros/Página</label>
                <select name="page_size"
                        class="w-24 px-2 py-1.5 border border-gray-300 rounded-md bg-white focus:ring-2 focus:ring-blue-500 text-black">
                  <option value="10" {% if request.GET.page_size == "10" or not request.GET.page_size %}selected{% endif %}>10</option>
                  <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                  <option value="30" {% if request.GET.page_size == "30" %}selected{% endif %}>30</option>
                  <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                </select>
              </div>
          </div>

          <!-- DIREITA -->
          <div class="flex items-end gap-3 ml-auto">
            <button type="submit"
                    class="px-3 py-1.5 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
              Filtrar
            </button>

            <a href="{% url 'arquiteturaprocessos:modelagemprocessos' %}"
               class="px-3 py-1.5 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition">
              Limpar
            </a>

            <a href="{% url 'arquiteturaprocessos:criar_modelagemprocesso' %}"
               class="inline-flex items-center px-3 py-1.5 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
              + Novo
            </a>
          </div>
        </div>
      </div>
    </form>
    {% endif %}

    <div class="flex justify-end mb-0.5">
        {% include 'components/exportacao/export_dropdown.html' with exportacao_habilitada=True %}
    </div>

    <div class="overflow-x-auto">
      <table class="text-sm w-full bg-white border border-gray-200 rounded-lg shadow">
        <thead class="bg-blue-100 text-blue-800">
          <tr>
            <th class="py-3 px-2 text-center w-[4%] align-middle">Tipo</th>
            <th class="py-3 px-2 text-left w-[17%]">Título</th>
            <th class="py-3 px-2 text-left w-[17%]">Tema</th>
            <th class="py-3 px-2 text-left w-[14%]">Modelo de Processo</th>
            <th class="py-3 px-2 text-left w-[14%]">Norma de Procedimento</th>
            <th class="py-3 px-2 text-left w-[13%]">Emitente</th>
            <th class="py-3 px-2 text-left w-[13%]">Sistema</th>
            <th class="py-3 px-2 text-left w-[12%]">Portaria</th>
            <th class="py-3 px-2 text-center w-[5%]">
              <div class="flex flex-col items-center">
                <span>Data</span><span>Aprovação</span>
              </div>
            </th>
            <th class="py-3 px-2 text-center w-[7%] leading-tight">
              <div class="flex flex-col items-center">
                <span>Início</span><span>Vigência</span>
              </div>
            </th>
            <th class="py-3 px-2 text-center w-[7%] leading-tight">
              <div class="flex flex-col items-center">
                <span>Fim</span><span>Vigência</span>
              </div>
            </th>

            <th class="py-3 px-2 text-center w-[5%]">Ações</th>
          </tr>
        </thead>

        <tbody class="text-[0.8rem] leading-snug">
          {% for modelagem in modelagemprocessos %}
          <tr class="text-blue-500 {% cycle 'bg-white' 'bg-blue-50' %} hover:bg-blue-100 transition-colors">

            <!-- Tipo de Documento -->
            <td class="py-3 px-2 align-middle">
              <div class="flex items-center justify-center h-full">
                {% if modelagem.tipo_documento.nome == "MODELO DE PROCESSO" %}
                  <span
                    title="Modelo de Processo"
                    class="inline-flex items-center justify-center w-7 h-5 text-[10px] font-bold rounded bg-blue-100 text-blue-700 cursor-help hover:bg-blue-200 transition">
                    MP
                  </span>
                {% elif modelagem.tipo_documento.nome == "NORMA DE PROCEDIMENTO" %}
                  <span
                    title="Norma de Procedimento"
                    class="inline-flex items-center justify-center w-7 h-5 text-[10px] font-bold rounded bg-green-100 text-green-700 cursor-help hover:bg-green-200 transition">
                    NP
                  </span>
                {% endif %}
              </div>
            </td>

            <!-- Título -->
            <td class="py-3 px-2 align-top break-words text-[0.8rem] leading-snug">
              {{ modelagem.titulo }}
            </td>

            <!-- Tema -->
           <td class="py-3 px-2 align-top break-words text-[0.8rem] leading-snug">
            {{ modelagem.tema|default_if_none:"----"  }}
          </td>

            <!-- Processo (PDF da Modelagem) -->
            <td class="py-3 px-2 align-top">
              {% if modelagem.documento_modelagem_processo %}
                <button
                  onclick="abrirModalDocumento(
                    'http://127.0.0.1:8000{{ modelagem.documento_modelagem_processo.url }}',
                    '{{ modelagem.documento_modelagem_processo|filename }}'
                  )"
                  title="{{ modelagem.documento_modelagem_processo|filename }}"
                  class="block text-left text-blue-600 hover:underline cursor-pointer
                         break-all leading-snug">
                  {{ modelagem.documento_modelagem_processo|filename }}
                </button>
              {% else %}
                ----
              {% endif %}
            </td>

            <!-- Norma de Procedimento -->
            <td class="py-3 px-2 align-top">
              {% if modelagem.link_normaprocedimento %}
                <button
                  onclick="abrirModalDocumento(
                    '{{ modelagem.link_normaprocedimento }}',
                    '{{ modelagem.link_normaprocedimento|filename }}'
                  )"
                  title="{{ modelagem.link_normaprocedimento|filename }}"
                  class="block text-left text-blue-600 hover:underline cursor-pointer
                        break-all leading-snug text-[0.8rem]">
                  {{ modelagem.link_normaprocedimento|filename }}
                </button>
              {% else %}
                ----
              {% endif %}
            </td>

            <td class="py-3 px-2 align-top break-words">{{ modelagem.emitente|default_if_none:"----" }}</td>
            <td class="py-3 px-2 align-top break-words">
                {% if modelagem.codigo or modelagem.sistema %}
                    {{ modelagem.codigo|default_if_none:"----" }}
                    {% if modelagem.codigo and modelagem.sistema %} – {% endif %}
                    {{ modelagem.sistema|default_if_none:"----" }}
                {% else %}
                    ----
                {% endif %}
            </td>
            <td class="py-3 px-2 align-top break-words text-[0.8rem] leading-snug">
              {{ modelagem.portaria_aprovacao|default_if_none:"----"  }}
            </td>

            <td class="py-3 px-2 align-top text-center whitespace-nowrap">
              {% if modelagem.data_aprovacao %}{{ modelagem.data_aprovacao|date:"d/m/Y" }}{% endif %}
            </td>
            <td class="py-3 px-2 align-top text-center whitespace-nowrap">
              {% if modelagem.vigencia_inicio %}{{ modelagem.vigencia_inicio|date:"d/m/Y" }}{% endif %}
            </td>
            <td class="py-3 px-2 align-top text-center whitespace-nowrap">
              {% if modelagem.vigencia_fim %}{{ modelagem.vigencia_fim|date:"d/m/Y" }}{% endif %}
            </td>

            <!-- Ações -->
            <td class="py-3 px-2 text-center align-middle">
              <div class="flex justify-center items-center space-x-1.5">
                <a href="{% url 'arquiteturaprocessos:visualizar_modelagemprocesso' modelagem.pk %}"
                   title="Visualizar" class="text-blue-600 hover:text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                    </svg>
                </a>

                {% if request.user.perfil.nome|lower == 'administrador' %}
                <a href="{% url 'arquiteturaprocessos:editar_modelagemprocesso' modelagem.pk %}"
                   class="text-yellow-600 hover:text-yellow-800" title="Editar">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M17.414 2.586a2 2 0 0 0-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 0 0 0-2.828z"/>
                        <path fill-rule="evenodd"
                              d="M2 6a2 2 0 0 1 2-2h4a1 1 0 0 1 0 2H4v10h10v-4a1 1 0 1 1 2 0v4a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
                <a href="{% url 'arquiteturaprocessos:excluir_modelagemprocesso' modelagem.pk %}"
                    title="Excluir" class="text-red-600 hover:text-red-800">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                          viewBox="0 0 24 24" stroke="currentColor">
                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                               d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7h6m2 0a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2h10z"/>
                     </svg>
                 </a>
                {% endif %}
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="12" class="py-4 px-4 text-center text-gray-500">
              Nenhuma modelagem de Processo encontrada.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="flex justify-between items-center mt-6 text-sm text-gray-700">

      <div>
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </div>

      {% if page_obj.has_previous or page_obj.has_next %}
        <div class="flex space-x-2">

          {% if page_obj.has_previous %}
            <a href="?page=1&{{ query_string }}" class="px-3 py-1 border rounded hover:bg-blue-100 transition">« Primeira</a>

            <a href="?page={{ page_obj.previous_page_number }}&{{ query_string }}" class="px-3 py-1 border rounded hover:bg-blue-100 transition">‹ Anterior</a>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ query_string }}" class="px-3 py-1 border rounded hover:bg-blue-100 transition">Próxima ›</a>

            <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_string }}" class="px-3 py-1 border rounded hover:bg-blue-100 transition">Última »</a>
          {% endif %}

        </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'components/modal_documento_processo.html' %}
{% endblock %}
